   .cuerpo {
    margin: 0;
    padding: 0;
    background-image: url('../img/piramide.jpg');
    font-family: Verdana, Geneva, sans-serif;
  }
  
  /* Estilos para dispositivos móviles */
  @media (max-width: 767px) {
    video:not(.responsive-video) {
      max-width: 100%;
      height: auto;
    }
  }

  footer {
     position: fixed; 
    bottom: 0%;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #f2f2f2;
    ;
  }
   @media (max-width: 767px) {
    footer {
      position: static; 
      /* font-size: 90% */
    }
  } 
  nav ul {
    list-style: none;
    padding: 0;
     }
  
  nav li {
    display: inline;
    padding: 10px;
  }
  
  nav li a {
    text-decoration: none;
    color: black;
    font-size: 120%;
  }

  .botella {
    width: 50%;
    height: auto;
  }
  
  @media (max-width: 767px) {
    .botella {
      width: 100%; /* Ajusta el ancho al 100% en dispositivos móviles */
    }
  }

  @media (max-width: 767px) {
    .textoresponsivo {
      background-color: white; /* Fondo blanco en dispositivos móviles */
      padding-left: 5%;
      padding-right: 5%;
      padding-bottom: 5%;
    }
  }
  p{
    text-align: justify;
  }
  .contenedor-contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .contacto {
    background-color: #f2f2f2;
    padding: 3%;
    max-width: 30%;
    width: 100%;
  }
  textarea {
    width: 100%;
  }
  
  /* Estilos adicionales del formulario */
  
  @media (max-width: 768px) {
    .contacto {
      max-width: 70%;
    }
    textarea {
      width: 100%;
    }
  }
  
  @media (max-width: 480px) {
    .contacto {
      max-width: 90%;
    }
  }